{% extends 'base.html' %}

{% block title %}BrawlDex | Adicionar Brawler{% endblock %}

{% block content %}

<div class="mb-4">

    <a href="{% url 'brawlers' %}" class="btn btn-roxo">
        <i class="bi bi-arrow-left"></i>
        Voltar
    </a>

</div>

<div class="card p-4">

    <h1 class="titulo-principal mb-4">
        Adicionar Brawler
    </h1>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-brawl">
            <i class="bi bi-plus-circle"></i>
            Cadastrar Brawler
        </button>

    </form>

</div>

{% endblock %}