{% extends 'base.html' %}

{% block title %}BrawlDex | Senha alterada{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6 col-lg-5">

        <div class="card p-4 text-center">

            <i class="bi bi-check-circle-fill display-3 text-warning mb-3"></i>

            <h1 class="titulo-principal mb-3">
                Senha alterada
            </h1>

            <p class="card-text mb-4">
                Sua senha foi trocada com sucesso.
            </p>

            <a href="{% url 'perfil' %}" class="btn btn-brawl w-100">
                <i class="bi bi-arrow-left"></i>
                Voltar para o perfil
            </a>

        </div>

    </div>

</div>

{% endblock %}